<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgiot.app.server.module.equipments.mapper.ThingMapper">
    <resultMap id="equipmentInfo" type="com.zgiot.app.server.module.equipments.controller.EquipmentInfo">
        <result column="thing_code" property="thingCode"/>
        <result column="thing_name" property="thingName"/>
        <result column="tag_name" property="tagName"/>
        <result column="system_id" property="systemId"/>
        <result column="system_name" property="systemName"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getEquipmentInfoByThingcode" resultMap="equipmentInfo"
            resultType="com.zgiot.app.server.module.equipments.controller.EquipmentInfo">
        SELECT t1.thing_code,t1.thing_name,t3.system_id,t2.system_name,t4.create_date AS update_time,t5.tag_name
        FROM `tb_thing` t1,tb_system t2,rel_thing_system t3,rel_thingtag_thing t4,tb_thing_tag t5
        WHERE t1.thing_code in
        <foreach collection="thingCodeList" item="thingCode" index="index"
                 open="(" close=")" separator=",">
            #{thingCode}
        </foreach>
        AND t1.thing_code = t3.thing_code AND t2.id = t3.system_id
        AND t4.thing_code = t1.thing_code AND t5.code = t4.thing_tag_code
    </select>

</mapper>