<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgiot.app.server.module.sfmonitor.mapper.RelSFSysMonitorTermThingMapper">
    <resultMap id="sfSysMonitorThing" type="com.zgiot.app.server.module.sfmonitor.pojo.RelSFSysMonitorTermThing">
        <result column="id"  property="id"/>
        <result column="term_id" property="termId"/>
        <result column="thing_tag_code" property="thingTagCode"/>
        <result column="sort" property="sort"/>
        <result column="thing_code" property="thingCode"/>
        <result column="show_type" property="showType"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <select id="getSFSysMonitorThing" resultMap="sfSysMonitorThing">
        select id,thing_tag_code,thing_code,sort,show_type from rel_sfsysmon_term_thing
        where
        1 = 1
        <if test="thingTagCode != null">
            and thing_tag_code = #{thingTagCode}
        </if>
        <if test="termId != null">
            and term_id = #{termId}
        </if>
        <if test="thingCode != null">
            and thing_code like CONCAT(#{thingCode},'%')
        </if>
        order by id,sort,thing_code
        <if test="selectCount != null">
            limit #{selectCount}
        </if>
    </select>

    <select id="getSFSpeMonitorThingProtect" resultMap="sfSysMonitorThing">
        select t.id,t.thing_tag_code,t.thing_code,t.show_type from rel_sfsysmon_term_thing t,rel_sfspemon_thing_metric m
        where t.thing_tag_code =m.thing_tag_code and t.thing_code = m.thing_code
        <if test="thingTagCode != null">
            and t.thing_tag_code = #{thingTagCode}
        </if>
        <if test="termId != null">
            and t.term_id = #{termId}
        </if>
        <if test="thingCode != null">
            and t.thing_code like CONCAT(#{thingCode},'%')
        </if>
        <if test="metricCode != null">
            and m.metricCode = #{metricCode}
        </if>
        order by t.id,t.sort,t.thing_code
        <if test="selectCount != null">
            limit #{selectCount}
        </if>
    </select>

    <select id="getThingCodeList" resultType="java.lang.String">
        select thing_code
        where
        1 = 1
        <if test="thingTagCode != null">
            and thing_tag_code = #{thingTagCode}
        </if>
        <if test="termId != null">
            and term_id = #{termId}
        </if>
        <if test="thingCode != null">
            and thing_code like CONCAT(#{thingCode},'%')
        </if>
    </select>
</mapper>
