<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgiot.app.server.module.bellows.dao.BellowsMapper">

    <select id="selectParamValue" resultType="java.lang.Double">
        SELECT param_value
        FROM
            tb_bellows_config
        WHERE
            thing_code = #{thingCode} AND param_name = #{paramName}
    </select>

    <update id="updateParamValue">
        UPDATE tb_bellows_config set param_value = #{paramValue} WHERE thing_code = #{thingCode} and param_name = #{paramName}
    </update>
    
    <insert id="saveCompressorLog" useGeneratedKeys="true" keyProperty="log.id">
        INSERT INTO tb_bellows_compressor_log
        (thing_code, operation, operate_type, operate_time, pre_state, request_id, memo, post_state, confirm_time, pressure)
        VALUES
        (#{log.thingCode}, #{log.operation}, #{log.operateType}, #{log.operateTime}, #{log.preState}, #{log.requestId}, #{log.memo}, #{log.postState}, #{log.confirmTime}, #{log.pressure})
    </insert>

    <update id="updateCompressorLog">
        UPDATE tb_bellows_compressor_log
        SET post_state = #{log.postState}, confirm_time = #{log.confirmTime}, pressure = #{log.pressure}
        WHERE id = #{log.id}
    </update>

    <select id="getCompressorLog" resultType="com.zgiot.app.server.module.bellows.pojo.CompressorLog">
        SELECT * FROM tb_bellows_compressor_log
        WHERE operate_time &gt;= #{startTime}
        AND operate_time &lt;= #{endTime}
        ORDER BY operate_time DESC
        <if test="offset != null">
            LIMIT #{offset},#{count}
        </if>
    </select>


    <insert id="saveCompressorState" useGeneratedKeys="true" keyProperty="state.id">
        INSERT INTO tb_bellows_compressor_state
        (thing_code, post_state, pre_state, time)
        VALUES
        (#{state.thingCode}, #{state.postState}, #{state.preState}, #{state.time})
    </insert>


    <select id="getCompressorState" resultType="com.zgiot.app.server.module.bellows.pojo.CompressorState">
        SELECT * FROM tb_bellows_compressor_state
        WHERE 1 = 1
        <if test="thingCodes != null">
        AND thing_code IN
        <foreach collection="thingCodes" item="tc" open="(" close=")" separator=",">
            #{tc}
        </foreach>
        </if>
        <if test="startTime != null">
          AND time &gt;= #{startTime}
        </if>
        AND time &lt;= #{endTime}
        ORDER BY time DESC
        <if test="offset != null">
            LIMIT #{offset},#{count}
        </if>
    </select>
</mapper>