<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="root" level="INFO"/>

    <logger name="com.zgiot.app.server.dataprocessor.WebSocketProcessor" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <!--appender-ref ref="FILE"/-->
    </logger>

    <logger name="com.zgiot.app.server.service.impl.FullHistData" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <!--appender-ref ref="FILE"/-->
    </logger>

</configuration>
