<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgiot.app.server.module.sfstop.mapper.StopOperationRecordMapper">

    <resultMap id="stopOperationRecordMap"
               type="com.zgiot.app.server.module.sfstop.entity.pojo.StopOperationRecord">
        <result property="operateId" column="operate_id"/>
        <result property="operateUser" column="operate_user"/>
        <result property="operateState" column="operate_state"/>
        <result property="createdTime" column="created_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>
    <select id="selectOperateRecordWithoutOperateState" resultMap="stopOperationRecordMap">
        SELECT
        operate_id,
        operate_user,
        operate_state,
        operate_system,
        created_time,
        is_delete
        FROM
        tb_stop_operation_record
        WHERE
        is_delete = 0
        <if test="operateState != null">
            AND operate_state &gt;#{operateState}
        </if>
        <if test="finishState != null">
            AND operate_state &lt;#{finishState}
        </if>
    </select>

    <insert id="saveStopOperationRecord" useGeneratedKeys="true" >
        INSERT tb_stop_operation_record (
        create_user, operate_state, operate_system, created_time, is_delete
        )
        VALUES (#{createUser}, #{operateState}, #{systemIds}, now(), '0')
    </insert>
</mapper>