<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgiot.app.server.service.dao.UserMapper">


    <select id="getThingCodesInWorkshopPostByUserId" resultType="java.lang.String">
        SELECT t.thing_code
        FROM s_department_station_user u,rel_workshop_post_thing t
        WHERE
        u.user_id = #{userId}
        AND
        u.workshop_post_id = t.workshop_post_id
    </select>

</mapper>