<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgiot.app.server.module.filterpress.dao.FilterPressMapper">
    <resultMap id="filterPressConfig" type="com.zgiot.app.server.module.filterpress.pojo.FilterPressConfig">
        <result column="thing_code" property="thingCode"/>
        <result column="param_name" property="paramName"/>
        <result column="param_value" property="paramValue"/>
    </resultMap>

    <select id="selectParamValue" resultType="java.lang.Double">
        SELECT param_value
        FROM
            tb_filterpress_config
        WHERE
            thing_code = #{thingCode} AND param_name = #{paramName}
    </select>

    <update id="updateFilterParamValue">
        UPDATE tb_filterpress_config set param_value = #{paramValue} WHERE thing_code = #{thingCode} and param_name = #{paramName}
    </update>

    <select id="findFilterInfo" resultMap="filterPressConfig">
        select thing_code,param_name,param_value from tb_filterpress_config
        where
        1 = 1
        <if test="thingCode != null">
            and thing_code=#{thingCode}
        </if>
        <if test="paramName != null">
            and param_name=#{paramName}
        </if>
        <if test="paramValue != null">
            and param_value=#{paramValue}
        </if>
    </select>
</mapper>