<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgiot.app.server.module.filterpress.dao.FilterPressMapper">

    <update id="updateFilterParamState">
        UPDATE tb_filterpress_config set param_value = #{paramValue} WHERE thing_code = #{thingCode} and param_name = #{paramName}
    </update>
</mapper>