<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgiot.app.server.module.filterpress.dao.FilterPressLogMapper">
    <resultMap id="filterPressLog" type="com.zgiot.app.server.module.filterpress.FilterPressLogBean">
        <result column="thing_code"  property="thingCode"/>
        <result column="feed_start_time" property="feedStartTime"/>
        <result column="feed_duration" property="feedDuration"/>
        <result column="feed_current" property="feedCurrent"/>
        <result column="unload_start_time" property="unloadTime"/>
        <result column="unload_duration" property="unloadDuration"/>
        <result column="feed_state" property="feedState"/>
        <result column="unload_state" property="unloadState"/>
        <result column="plate_count" property="plateCount"/>
        <result column="total_plate_count" property="totalPlateCount"/>
        <result column="waiting_time" property="waitDuration"/>
        <result column="proceeding_time" property="proceedingDuration"/>
        <result column="save_time" property="saveTime"/>
        <result column="is_day_shift" property="isDayShift"/>
        <result column="plate_start_time" property="plateStartTime"/>
    </resultMap>

    <resultMap id="filterPressPlateInfo" type="com.zgiot.app.server.module.filterpress.pojo.FilterPressSinglePlateCountBean">
        <result column="thing_code"  property="thingCode"/>
        <result column="plate_count"  property="filterPressPlateAndTimeBean.plateCount"/>
        <result column="plate_start_time"  property="filterPressPlateAndTimeBean.time"/>
    </resultMap>

    <resultMap id="filterPressTotalPlateInfo" type="com.zgiot.app.server.module.filterpress.pojo.FilterPressPlateAndTimeBean">
        <result column="total_plate_count"  property="plateCount"/>
        <result column="plate_start_time"  property="time"/>
    </resultMap>

    <resultMap id="tcAndMaxPlateCount" type="com.zgiot.app.server.module.filterpress.pojo.FilterPressTcAndMaxPlateCount">
        <result column="thing_code" property="thingCode"/>
        <result column="plate_count" property="maxPlateCount"/>
    </resultMap>

    <resultMap id="filterPressHisPlateInfo" type="com.zgiot.app.server.module.filterpress.pojo.FilterPressHisPlateCountBean">
        <result column="is_day_shift" property="isDayShift"/>
        <result column="total_plate_count" property="unloadTotalCount"/>
        <collection property="filterPressTcAndMaxPlateCountList" resultMap="tcAndMaxPlateCount"/>
    </resultMap>

    <resultMap id="filterPressRatedStartTime" type="com.zgiot.app.server.module.filterpress.pojo.FilterPressRatedStartTimeBean">
        <result column="param_name" property="dayOrNightRatedStartTimes"/>
        <result column="param_value" property="startTimeOffset"/>
    </resultMap>

    <insert id="insertFilterPressLog" parameterType="com.zgiot.app.server.module.filterpress.FilterPressLogBean">
        insert into tb_filterpress_log(thing_code,feed_start_time,feed_duration,feed_current,unload_start_time,unload_duration,feed_state,plate_count,waiting_time,proceeding_time,team,save_time,unload_state,total_plate_count,plate_start_time,is_day_shift,period) value(#{thingCode},#{feedStartTime},#{feedDuration},#{feedCurrent},#{unloadTime},#{unloadDuration},#{feedState},#{plateCount},#{waitDuration},#{proceedingDuration},#{team},#{saveTime},#{unloadState},#{totalPlateCount},#{plateStartTime},#{isDayShift},#{period})
    </insert>

    <select id="queryLogByDate" resultMap="filterPressLog">
        SELECT thing_code,feed_start_time,feed_duration,feed_current,
        unload_start_time,unload_duration,feed_state,unload_state,
        plate_count,total_plate_count,
        waiting_time,proceeding_time,save_time,is_day_shift,plate_start_time
        FROM `tb_filterpress_log`
        where save_time>str_to_date(#{startTime},'%Y-%m-%d %H:%i:%s')
        and save_time &lt;str_to_date(#{endTime},'%Y-%m-%d %H:%i:%s')
        order by save_time asc
    </select>

    <select id="queryPlateInfos"  resultMap="filterPressPlateInfo">
        select thing_code,plate_count,plate_start_time from `tb_filterpress_log`
        <where>
            is_day_shift=#{isDayShift}
            <if test="startTime !=null ">
                and save_time>str_to_date(#{startTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endTime !=null ">
                and save_time &lt; str_to_date(#{endTime},'%Y-%m-%d %H:%i:%s')
            </if>
        </where>
    </select>

    <select id="queryTotalPlateInfos"  resultMap="filterPressTotalPlateInfo">
        select total_plate_count,plate_start_time from `tb_filterpress_log`
        <where>
            is_day_shift=#{isDayShift}
            <if test="startTime !=null ">
                and save_time>str_to_date(#{startTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endTime !=null ">
                and save_time &lt; str_to_date(#{endTime},'%Y-%m-%d %H:%i:%s')
            </if>
        </where> order by save_time asc
    </select>

    <select id="queryHisPlateCount" resultMap="filterPressHisPlateInfo">
        select is_day_shift,thing_code,max(plate_count) as plate_count from (select is_day_shift,thing_code,plate_count from `tb_filterpress_log`
        <where>
            <if test="startTime !=null ">
                and save_time>str_to_date(#{startTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endTime !=null ">
                and save_time &lt; str_to_date(#{endTime},'%Y-%m-%d %H:%i:%s')
            </if>
        </where>) as t group by is_day_shift,thing_code
    </select>

    <select id="getPriorTeam"  resultType="Integer">
        select distinct team from `tb_filterpress_log`
        <where>
            is_day_shift=#{isDayShift}
            <if test="startTime !=null ">
                and save_time>str_to_date(#{startTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endTime !=null ">
                and save_time &lt; str_to_date(#{endTime},'%Y-%m-%d %H:%i:%s')
            </if>
        </where>
    </select>

    <select id="getFilterPressRatedStartTime" resultMap="filterPressRatedStartTime">
        select param_name,param_value from tb_filterpress_config where thing_code=#{thingCode} and param_name=#{dayOrNightRatedTime}
    </select>
</mapper>