<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgiot.app.server.module.filterpress.dao.ThingPropertyMapper">
    <resultMap id="base" type="com.zgiot.common.pojo.ThingModel">
        <result column="thing_name" property="thingName"/>
        <result column="thing_shortname" property="shortName"/>
        <result column="thing_code" property="thingCode"/>
    </resultMap>
    <select id="getBasePropertiy" parameterType="java.lang.String" resultMap="base">
        SELECT thing_name,thing_shortname
        FROM
            tb_thing
        WHERE
            thing_code = #{thingCode}
    </select>

    <select id="getThings" parameterType="java.lang.String" resultMap="base">
        SELECT thing_name,thing_shortname,thing_code
        FROM
        tb_thing
    </select>

    <resultMap id="prop" type="com.zgiot.common.pojo.ThingPropModel">
        <result column="prop_key" property="propKey"/>
        <result column="prop_value" property="propValue"/>
    </resultMap>

    <!--******** prop_type为区分prop信息和disProp信息标志， prop_type=“BASE”为prop信息，prop_type=“DISP”为disProp信息 ********-->
    <select id="getPropOrDisPropPropertiy" parameterType="java.lang.String" resultMap="prop">
        SELECT prop_key,prop_value
        FROM
        tb_thing_properties
        WHERE
        thing_code = #{thingCode} and prop_type=#{propType}
    </select>
</mapper>