<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgiot.app.server.service.impl.mapper.MetricTagMapper">
    <resultMap id="metricTag" type="com.zgiot.app.server.module.metrictag.pojo.MetricTag">
        <result column="id"  property="id"/>
        <result column="code" property="code"/>
        <result column="tag_name" property="tagName"/>
        <result column="parent_id" property="parentId"/>
        <result column="code_path" property="codePath"/>
        <result column="metric_tag_group_id" property="metricTagGroupId"/>
        <result column="metric_tag_group_code" property="metricTagGroupCode"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="comments" property="comments"/>
        <result column="operator" property="operator"/>
    </resultMap>

    <!--select id="findMetricTag" resultMap="metricTag">
        SELECT
        tmt.id,
        tmt.`code`,
        tmt.tag_name,
        tmt.parent_id,
        tmtg.`code`,
        tmt.code_path,
        tmt.metric_tag_group_id,
        tmtg.`code` AS metric_tag_group_code,
        tmt.create_date,
        tmt.update_date,
        tmt.comments,
        tmt.operator
        FROM
        tb_metric_tag AS tmt
        INNER JOIN tb_metric_tag_group AS tmtg ON tmt.metric_tag_group_id = tmtg.id
        <if test="metricTagGroupCode != null">
            AND tttg.code= #{metricTagGroupCode}
        </if>
        WHERE
        1 = 1
        <if test="id != null">
            AND tmt.id = #{id}
        </if>
        <if test="code != null">
            AND tmt.code = #{code}
        </if>
        <if test="tagName != null">
            AND tmt.tag_name = #{tagName}
        </if>
        <if test="parentId != null">
            AND tmt.parent_id = #{parentId}
        </if>
        <if test="codePath != null">
            AND tmt.code_path = #{codePath}
        </if>
        <if test="codePathLike != null">
            AND tmt.code_path like CONCAT(#{codePathLike},'%')
        </if>
        <if test="metricTagGroupId != null">
            AND tmt.metric_tag_group_id = #{metricTagGroupId}
        </if>
        <if test="createDate != null">
            AND tmt.create_date = #{createDate}
        </if>
        <if test="updateDate != null">
            AND tmt.update_date = #{updateDate}
        </if>
        <if test="comments != null">
            AND tmt.comments = #{comments}
        </if>
        <if test="operator != null">
            AND tmt.operator = #{operator}
        </if>
    </select-->

    <insert id="addMetricTag" parameterType="com.zgiot.app.server.module.metrictag.pojo.MetricTag">
        INSERT INTO tb_metric_tag(code,tag_name,parent_id,code_path,metric_tag_group_id,create_date,update_date,comments,operator)
        values(#{code},#{tagName},#{parentId},#{codePath},#{metricTagGroupId},#{createDate},#{updateDate},#{comments},#{operator})
        <selectKey resultType="java.lang.Integer" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateMetricTag" parameterType="com.zgiot.app.server.module.metrictag.pojo.MetricTag">
        update tb_metric_tag
        <trim prefix="set" suffixOverrides=",">
            id=#{id},
            <if test="code != null">
                code =#{code},
            </if>
            <if test="tagName != null">
                tag_name =#{tagName},
            </if>
            <if test="parentId != null">
                parent_id =#{parentId},
            </if>
            <if test="codePath != null">
                code_path =#{codePath},
            </if>
            <if test="codePathLike != null">
                code_path like 'codePathLike%',
            </if>
            <if test="metricTagGroupId != null">
                metric_tag_group_id =#{metricTagGroupId},
            </if>
            <if test="createDate != null">
                create_date =#{createDate},
            </if>
            <if test="updateDate != null">
                update_date =#{updateDate},
            </if>
            <if test="comments != null">
                comments =#{comments},
            </if>
            <if test="operator != null">
                operator =#{operator}
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMetricTag" parameterType="com.zgiot.app.server.module.metrictag.pojo.MetricTag">
        DELETE FROM tb_metric_tag
        WHERE
        id = #{metricTagId}
    </delete>
</mapper>